In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karabanovo,RU,2021-02-06 01:05:02,56.3167,38.7000,1.36,92,100,8.90
1,1,Maralal,KE,2021-02-06 01:05:02,1.0968,36.6980,57.49,74,0,3.31
2,2,Upernavik,GL,2021-02-06 00:59:22,72.7868,-56.1549,4.53,71,100,6.06
3,3,Cherskiy,RU,2021-02-06 00:59:17,68.7500,161.3000,-14.53,77,30,0.98
4,4,Antalaha,MG,2021-02-06 01:05:02,-14.9003,50.2788,73.83,88,100,4.38

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clous = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clous, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2021-02-06 00:59:13,-23.1203,-134.9692,78.76,70,11,12.75
9,9,Baturaja,ID,2021-02-06 01:05:03,-4.1333,104.1667,76.19,89,95,5.64
19,19,Butaritari,KI,2021-02-06 00:57:04,3.0707,172.7902,81.39,80,93,17.76
21,21,Carnarvon,AU,2021-02-06 00:55:13,-24.8667,113.6333,80.60,100,90,20.71
22,22,Touros,BR,2021-02-06 00:59:30,-5.1989,-35.4608,77.00,83,20,4.61
26,26,Vaini,TO,2021-02-06 00:57:08,-21.2000,-175.2000,84.20,84,75,4.61
28,28,Tadine,NC,2021-02-06 01:05:05,-21.5500,167.8833,81.84,74,0,8.84
39,39,Gigmoto,PH,2021-02-06 01:05:07,13.7796,124.3900,81.28,80,21,9.53
43,43,Maumere,ID,2021-02-06 01:05:07,-8.6199,122.2111,82.26,76,100,6.24
49,49,Bekwai,GH,2021-02-06 01:05:08,6.4534,-1.5774,75.56,92,89,4.52

In [12]:
preferred_cities_df.count()

City_ID       126
City          126
Country       126
Date          126
Lat           126
Lng           126
Max Temp      126
Humidity      126
Cloudiness    126
Wind Speed    126
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5      Rikitea      PF     78.76 -23.1203 -134.9692
9     Baturaja      ID     76.19  -4.1333  104.1667
19  Butaritari      KI     81.39   3.0707  172.7902
21   Carnarvon      AU     80.60 -24.8667  113.6333
22      Touros      BR     77.00  -5.1989  -35.4608
26       Vaini      TO     84.20 -21.2000 -175.2000
28      Tadine      NC     81.84 -21.5500  167.8833
39     Gigmoto      PH     81.28  13.7796  124.3900
43     Maumere      ID     82.26  -8.6199  122.2111
49      Bekwai      GH     75.56   6.4534   -1.5774

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,78.76,-23.1203,-134.9692,Pension Maro'i
9,Baturaja,ID,76.19,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
19,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
21,Carnarvon,AU,80.60,-24.8667,113.6333,Hospitality Carnarvon
22,Touros,BR,77.00,-5.1989,-35.4608,INN NEW HORIZON
26,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
28,Tadine,NC,81.84,-21.5500,167.8833,
39,Gigmoto,PH,81.28,13.7796,124.3900,Cj's Travellers Inn
43,Maumere,ID,82.26,-8.6199,122.2111,Sylvia Hotel
49,Bekwai,GH,75.56,6.4534,-1.5774,Annex Plaza Hotel

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))